<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table,tr,td,th{
            border: 1px black solid;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<a href="?lang=en"><button>English</button></a>
<a href="?lang=km"><button>Khmer</button></a>
<a href="?lang=th"><button>Thai</button></a>
<h1>List of all product!</h1>
<a href="/newBook"><button>New Book</button></a><a href="/count" target="_blank"><button>Count</button></a><br><br>
<table>
    <tr>
        <th th:text="#{TABLE.ID}">ID</th>
        <th th:text="#{TABLE.TITLE}">Name</th>
        <th th:text="#{TABLE.AUTHOR}">Author</th>
        <th th:text="#{TABLE.PUBLISHER}">Publisher</th>
        <th th:text="#{TABLE.ACTION}">Action</th>
    </tr>
    <tr th:each="book :${books}">
        <td th:text="${book.getId()}"></td>
        <td th:text="${book.getTitle()}"></td>
        <td th:text="${book.getAuthor()}"></td>
        <td th:text="${book.getPublisher()}"></td>
        <td>
            <a th:href="@{/view/{id}(id=${book.getId()})}"><button th:text="#{BUTTON.VIEW}">View</button></a>
            <a th:href="@{/update/{id}(id=${book.getId()})}"><button th:text="#{BUTTON.UPDATE}">Update</button></a>
            <button class="delete-btn" th:attr="data-id=${book.getId()}"​​ th:text="#{BUTTON.DELETE}">Delete</button>
        </td>
    </tr>
</table>
</body>
<script src="webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="js/myscript.js"></script>
</html>