<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>View Item</h1>
<th:block th:if="${viewbook}!=null" th:object="${viewbook}">
    <p th:text="${viewbook.getId()}"></p>
    <p th:text="${viewbook.getTitle()}"></p>
    <p th:text="${viewbook.getAuthor()}"></p>
    <p th:text="${viewbook.getPublisher()}"></p>
    <a href="http://localhost:8080/"><button>Back</button></a>
</th:block>
</body>
</html>